import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

<html lang-="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width"/>
        <title>About - Mike Sevilla</title>
    </head>
    <body class="bg-gray-100 font-sans">
        <Header />
        <main class="container mx-auto p-4">
        <h1 class="text=3xl font bold mb-4">About Me</h1>
        <p class="text=lg mb-4">
            SAP Consultant with 13 years of experience in ABAP, ABAP-CRM, and SAP CRM-SD, specializing in system implementation, technical design, and integration. Expertise in SAP ECC, S/4HANA, and ABAP on HANA, with a strong track record in RICEFW development and CRM Middleware. Adept at optimizing business processes and leading teams to deliver high-quality solutions. Continuously upskilling in SAP BTP and SAP Fiori to stay ahead in emerging technologies.   
        </p>
        <h2 class="text-2xl font-semibold mb-2">Certifications</h2>
        <ul class="list-disc pl-6">
            <li>SAP Certified Associate: Backend Developer - SAP Cloud Application Programming Model (2025)</li>

            <li>SAP Certified Development Associate: SAP Fiori Application Developer (2023)</li>
            
            <li>SAP Certified Development Associate: SAP HANA 2.0 SPS06 (2023)</li>
        </ul>
        </main>
        <Footer />
    </body>
</html>